
<h2 style="text-align:center;"> Data according to purchase of each month </h2>

<h3 id="js-chartTitle"></h3>
<h3 id="js-chartTitle3"></h3>
<h3 id="js-chartTitle4"></h3>
<canvas id="chart" width="400" height="400"></canvas>

<h3 id="js-chartTitle2"></h3>

<h2 style="text-align:center;"> Data according to purchase of loyal customers </h2>

<h3  id="js-chartTitle6"> </h3>


<h3  id="js-chartTitle7"> </h3>

<canvas id="chart2" width="400" height="400"></canvas>



